{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": ["*.js", "*.jsx"],
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ["*.css", "*.scss", "*.less"],
      "options": {
        "parser": "css"
      }
    }
  ]
}
